body {
    background-color:black;
    padding-top: 50px;
    padding-bottom: 20px;
    color:white;
}
 body .admin {
       background-color:white;
    padding-top: 50px;
    padding-bottom: 20px;
    color:black;
 }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#tcpo {color:#D41024; font-size:36px; margin-left:100px; font-weight:bold;}
#navhome {color:#D41024;}
#navhome:hover {color:white;}


#admin {color:#428bca; font-size:36px; margin-left:100px; font-weight:bold;}
#navadmin {color:#428bca;}
#navadmin:hover {color:white;}
#navigatiebalk {
    background-color: black;
}
#panelheader {background:#D41024;color:white; font-weight:bold;}
#custompanel {background-color:black;color:white;}

 .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:#AAA; color:white;
 }  

