
@model Projectwerk.Vermeersch.f.Models.Resultaat


<h4><b>@Model.Wedstrijd.Sport.soortSport</b> @Model.Wedstrijd.Plaats</h4>
<p>Algemeen : @Model.UitslagAlgemeen</p>
<p>Categorie : @Model.UitslagCategorie</p>
