@model  IEnumerable<Projectwerk.Vermeersch.f.Models.Sport>

@{
    ViewBag.Title = "Home";
}

<div class="well well-sm" style="background:#D41024;color:white;">
    <h2>
        Home
    </h2>
</div>

@*<span id="temp">
    @Html.Raw(TempData["succesboodschap"])
</span>*@


@if (!string.IsNullOrWhiteSpace(TempData["succesboodschap"] + ""))
{
    @section scripts
{
        <script>
            $('#temp').fadeTo(1000, 1);
        </script>
    }
}




