@model IEnumerable<Projectwerk.Vermeersch.f.Models.Putter>

@{
    ViewBag.Title = "Leden";
}

<div class="well well-sm" style="background:#D41024;color:white;"><h2>Leden</h2></div>

    @foreach (var p in Model)
    {
        <img src="~/Pics/leden/@p.AfbeeldingsURL" style="width:200px;" />

        @*<p>
            @p.VolledigeNaam - Aantal wedstrijden :  @p.Wedstrijden.Count()
        </p>*@
            <hr />
    }


